# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class
.gradio/

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Local files
*.log
output/
models_16B/
.DS_Store
